
- name: start
  cmd: sleep 1

- name: echo_hello
  stdout: /dev/null
  cmd: echo Hello, world.


{% for i in range(5) %}
- name: test_range_{{ loop.index }}
  stdout: /dev/null
  after: start
  cmd: echo {{ loop.index }}
{% endfor %}


- name: test_nested_run
  after: echo_hello
  stdout: /dev/null
  cmd: >
    jetstream run <(echo '- cmd: echo nested run')

