data:
- assay: RNA
  fcid: C834KACXX
  kit: KRSOD
  lane: '3'
  library: K15662
  line_number: 23
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151106_SN7001050R_0419_BC834KACXX/Project_MMRF_1992_1_KRSOD/Sample_MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C834KACXX/MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C834KACXX_CAGATC_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C834KACXX_3
    LB: K15662
    PL: ILLUMINA
    PU: C834KACXX_3
    SM: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  read_style: paired-end
  rg_id: C834KACXX_3
  sample_name: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  type: FQ
- assay: RNA
  fcid: C834KACXX
  kit: KRSOD
  lane: '7'
  library: K15662
  line_number: 24
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151106_SN7001050R_0419_BC834KACXX/Project_MMRF_1992_1_KRSOD/Sample_MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C834KACXX/MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C834KACXX_CAGATC_L007_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C834KACXX_7
    LB: K15662
    PL: ILLUMINA
    PU: C834KACXX_7
    SM: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  read_style: paired-end
  rg_id: C834KACXX_7
  sample_name: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  type: FQ
- assay: RNA
  fcid: C82WTACXX
  kit: KRSOD
  lane: '3'
  library: K15662
  line_number: 25
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151119_SN201_0563_BC82WTACXX/Project_MMRF_1992_1_KRSOD/Sample_MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C82WTACXX/MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C82WTACXX_CAGATC_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C82WTACXX_3
    LB: K15662
    PL: ILLUMINA
    PU: C82WTACXX_3
    SM: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  read_style: paired-end
  rg_id: C82WTACXX_3
  sample_name: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  type: FQ
- assay: RNA
  fcid: C82WTACXX
  kit: KRSOD
  lane: '7'
  library: K15662
  line_number: 26
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151119_SN201_0563_BC82WTACXX/Project_MMRF_1992_1_KRSOD/Sample_MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C82WTACXX/MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662_C82WTACXX_CAGATC_L007_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C82WTACXX_7
    LB: K15662
    PL: ILLUMINA
    PU: C82WTACXX_7
    SM: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  read_style: paired-end
  rg_id: C82WTACXX_7
  sample_name: MMRF_1992_1_BM_CD138neg_T20_KRSOD_K15662
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '1'
  library: L07272
  line_number: 28
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX/MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX_GCCAAT_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_1
    LB: L07272
    PL: ILLUMINA
    PU: C5JTTACXX_1
    SM: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  read_style: paired-end
  rg_id: C5JTTACXX_1
  sample_name: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '3'
  library: L07272
  line_number: 29
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX/MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX_GCCAAT_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_3
    LB: L07272
    PL: ILLUMINA
    PU: C5JTTACXX_3
    SM: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  read_style: paired-end
  rg_id: C5JTTACXX_3
  sample_name: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '5'
  library: L07272
  line_number: 30
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX/MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX_GCCAAT_L005_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_5
    LB: L07272
    PL: ILLUMINA
    PU: C5JTTACXX_5
    SM: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  read_style: paired-end
  rg_id: C5JTTACXX_5
  sample_name: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '7'
  library: L07272
  line_number: 31
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX/MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272_C5JTTACXX_GCCAAT_L007_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_7
    LB: L07272
    PL: ILLUMINA
    PU: C5JTTACXX_7
    SM: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  read_style: paired-end
  rg_id: C5JTTACXX_7
  sample_name: MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  type: FQ
- assay: Genome
  fcid: C5AFVACXX
  kit: KHWGL
  lane: '8'
  library: L06743
  line_number: 33
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140822_SN700477R_0369_AC5AFVACXX/Project_MMRF_1992_1_KHWGL/Sample_MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743_C5AFVACXX/MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743_C5AFVACXX_NoIndex_L008_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5AFVACXX_8
    LB: L06743
    PL: ILLUMINA
    PU: C5AFVACXX_8
    SM: MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743
  read_style: paired-end
  rg_id: C5AFVACXX_8
  sample_name: MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743
  type: FQ
- assay: RNA
  fcid: C59L6ACXX
  kit: TSMRU
  lane: '1'
  library: L06632
  line_number: 35
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140811_SN464_0393_AC59L6ACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C59L6ACXX/MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C59L6ACXX_AGTCAA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C59L6ACXX_1
    LB: L06632
    PL: ILLUMINA
    PU: C59L6ACXX_1
    SM: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  read_style: paired-end
  rg_id: C59L6ACXX_1
  sample_name: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  type: FQ
- assay: RNA
  fcid: C59L6ACXX
  kit: TSMRU
  lane: '5'
  library: L06632
  line_number: 36
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140811_SN464_0393_AC59L6ACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C59L6ACXX/MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C59L6ACXX_AGTCAA_L005_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C59L6ACXX_5
    LB: L06632
    PL: ILLUMINA
    PU: C59L6ACXX_5
    SM: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  read_style: paired-end
  rg_id: C59L6ACXX_5
  sample_name: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  type: FQ
- assay: RNA
  fcid: C4U23ACXX
  kit: TSMRU
  lane: '1'
  library: L06632
  line_number: 37
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140811_SN464_0394_BC4U23ACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C4U23ACXX/MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C4U23ACXX_AGTCAA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C4U23ACXX_1
    LB: L06632
    PL: ILLUMINA
    PU: C4U23ACXX_1
    SM: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  read_style: paired-end
  rg_id: C4U23ACXX_1
  sample_name: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  type: FQ
- assay: RNA
  fcid: C4U23ACXX
  kit: TSMRU
  lane: '5'
  library: L06632
  line_number: 38
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140811_SN464_0394_BC4U23ACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C4U23ACXX/MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632_C4U23ACXX_AGTCAA_L005_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C4U23ACXX_5
    LB: L06632
    PL: ILLUMINA
    PU: C4U23ACXX_5
    SM: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  read_style: paired-end
  rg_id: C4U23ACXX_5
  sample_name: MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '2'
  library: L07273
  line_number: 40
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX/MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX_CAGATC_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_2
    LB: L07273
    PL: ILLUMINA
    PU: C5JTTACXX_2
    SM: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  read_style: paired-end
  rg_id: C5JTTACXX_2
  sample_name: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '4'
  library: L07273
  line_number: 41
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX/MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX_CAGATC_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_4
    LB: L07273
    PL: ILLUMINA
    PU: C5JTTACXX_4
    SM: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  read_style: paired-end
  rg_id: C5JTTACXX_4
  sample_name: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '6'
  library: L07273
  line_number: 42
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX/MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX_CAGATC_L006_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_6
    LB: L07273
    PL: ILLUMINA
    PU: C5JTTACXX_6
    SM: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  read_style: paired-end
  rg_id: C5JTTACXX_6
  sample_name: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '8'
  library: L07273
  line_number: 43
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX/MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273_C5JTTACXX_CAGATC_L008_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_8
    LB: L07273
    PL: ILLUMINA
    PU: C5JTTACXX_8
    SM: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  read_style: paired-end
  rg_id: C5JTTACXX_8
  sample_name: MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  type: FQ
- assay: Genome
  fcid: C5A2MACXX
  kit: KHWGL
  lane: '1'
  library: L06744
  line_number: 45
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140822_SN700477R_0370_BC5A2MACXX/Project_MMRF_1992_1_KHWGL/Sample_MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744_C5A2MACXX/MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744_C5A2MACXX_NoIndex_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5A2MACXX_1
    LB: L06744
    PL: ILLUMINA
    PU: C5A2MACXX_1
    SM: MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744
  read_style: paired-end
  rg_id: C5A2MACXX_1
  sample_name: MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744
  type: FQ
- assay: RNA
  fcid: C56UNACXX
  kit: TSMRU
  lane: '7'
  library: L06659
  line_number: 47
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140818_7001452_0162_AC56UNACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659_C56UNACXX/MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659_C56UNACXX_CCGTCC_L007_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C56UNACXX_7
    LB: L06659
    PL: ILLUMINA
    PU: C56UNACXX_7
    SM: MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659
  read_style: paired-end
  rg_id: C56UNACXX_7
  sample_name: MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659
  type: FQ
- assay: RNA
  fcid: C56UNACXX
  kit: TSMRU
  lane: '8'
  library: L06659
  line_number: 48
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140818_7001452_0162_AC56UNACXX/Project_MMRF_1992_1_TSMRU/Sample_MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659_C56UNACXX/MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659_C56UNACXX_CCGTCC_L008_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C56UNACXX_8
    LB: L06659
    PL: ILLUMINA
    PU: C56UNACXX_8
    SM: MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659
  read_style: paired-end
  rg_id: C56UNACXX_8
  sample_name: MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '2'
  library: L07274
  line_number: 50
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX/MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX_ACTTGA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_2
    LB: L07274
    PL: ILLUMINA
    PU: C5JTTACXX_2
    SM: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  read_style: paired-end
  rg_id: C5JTTACXX_2
  sample_name: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '4'
  library: L07274
  line_number: 51
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX/MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX_ACTTGA_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_4
    LB: L07274
    PL: ILLUMINA
    PU: C5JTTACXX_4
    SM: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  read_style: paired-end
  rg_id: C5JTTACXX_4
  sample_name: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '6'
  library: L07274
  line_number: 52
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX/MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX_ACTTGA_L006_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_6
    LB: L07274
    PL: ILLUMINA
    PU: C5JTTACXX_6
    SM: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  read_style: paired-end
  rg_id: C5JTTACXX_6
  sample_name: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  type: FQ
- assay: Exome
  fcid: C5JTTACXX
  kit: KBS5U
  lane: '8'
  library: L07274
  line_number: 53
  path: /scratch/tgenjetstream/chiaPipe/runFolders/141008_SN386_0472_AC5JTTACXX/Project_MMRF_1992_1_KBS5U/Sample_MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX/MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274_C5JTTACXX_ACTTGA_L008_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5JTTACXX_8
    LB: L07274
    PL: ILLUMINA
    PU: C5JTTACXX_8
    SM: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  read_style: paired-end
  rg_id: C5JTTACXX_8
  sample_name: MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274
  type: FQ
- assay: Genome
  fcid: C5AFVACXX
  kit: KHWGL
  lane: '7'
  library: L06742
  line_number: 55
  path: /scratch/tgenjetstream/chiaPipe/runFolders/140822_SN700477R_0369_AC5AFVACXX/Project_MMRF_1992_1_KHWGL/Sample_MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742_C5AFVACXX/MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742_C5AFVACXX_NoIndex_L007_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C5AFVACXX_7
    LB: L06742
    PL: ILLUMINA
    PU: C5AFVACXX_7
    SM: MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742
  read_style: paired-end
  rg_id: C5AFVACXX_7
  sample_name: MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742
  type: FQ
- assay: Exome
  fcid: C7K8YACXX
  kit: KHS5U
  lane: '1'
  library: L12928
  line_number: 57
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151012_SN201_0555_BC7K8YACXX/Project_MMRF_1992_2_KHS5U/Sample_MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX/MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX_AACCGAGA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C7K8YACXX_1
    LB: L12928
    PL: ILLUMINA
    PU: C7K8YACXX_1
    SM: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  read_style: paired-end
  rg_id: C7K8YACXX_1
  sample_name: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  type: FQ
- assay: Exome
  fcid: C7K8YACXX
  kit: KHS5U
  lane: '2'
  library: L12928
  line_number: 58
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151012_SN201_0555_BC7K8YACXX/Project_MMRF_1992_2_KHS5U/Sample_MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX/MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX_AACCGAGA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C7K8YACXX_2
    LB: L12928
    PL: ILLUMINA
    PU: C7K8YACXX_2
    SM: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  read_style: paired-end
  rg_id: C7K8YACXX_2
  sample_name: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  type: FQ
- assay: Exome
  fcid: C7K8YACXX
  kit: KHS5U
  lane: '3'
  library: L12928
  line_number: 59
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151012_SN201_0555_BC7K8YACXX/Project_MMRF_1992_2_KHS5U/Sample_MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX/MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX_AACCGAGA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C7K8YACXX_3
    LB: L12928
    PL: ILLUMINA
    PU: C7K8YACXX_3
    SM: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  read_style: paired-end
  rg_id: C7K8YACXX_3
  sample_name: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  type: FQ
- assay: Exome
  fcid: C7K8YACXX
  kit: KHS5U
  lane: '4'
  library: L12928
  line_number: 60
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151012_SN201_0555_BC7K8YACXX/Project_MMRF_1992_2_KHS5U/Sample_MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX/MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928_C7K8YACXX_AACCGAGA_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C7K8YACXX_4
    LB: L12928
    PL: ILLUMINA
    PU: C7K8YACXX_4
    SM: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  read_style: paired-end
  rg_id: C7K8YACXX_4
  sample_name: MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  type: FQ
- assay: Genome
  fcid: C82ULACXX
  kit: KHWGL
  lane: '3'
  library: L12964
  line_number: 62
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN386_0543_BC82ULACXX/Project_MMRF_1992_2_KHWGL/Sample_MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964_C82ULACXX/MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964_C82ULACXX_NoIndex_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C82ULACXX_3
    LB: L12964
    PL: ILLUMINA
    PU: C82ULACXX_3
    SM: MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964
  read_style: paired-end
  rg_id: C82ULACXX_3
  sample_name: MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '1'
  library: L12684
  line_number: 64
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_1
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_1
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_1
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '2'
  library: L12684
  line_number: 65
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_2
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_2
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_2
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '3'
  library: L12684
  line_number: 66
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_3
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_3
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_3
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '4'
  library: L12684
  line_number: 67
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_4
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_4
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_4
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '5'
  library: L12684
  line_number: 68
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L005_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_5
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_5
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_5
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: RNA
  fcid: C839GACXX
  kit: TSMRU
  lane: '6'
  library: L12684
  line_number: 69
  path: /scratch/tgenjetstream/chiaPipe/runFolders/151013_SN700477R_0455_AC839GACXX/Project_MMRF_1992_2_TSMRU/Sample_MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX/MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684_C839GACXX_CCGTCC_L006_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: C839GACXX_6
    LB: L12684
    PL: ILLUMINA
    PU: C839GACXX_6
    SM: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  read_style: paired-end
  rg_id: C839GACXX_6
  sample_name: MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684
  type: FQ
- assay: Exome
  fcid: CC21AANXX
  kit: KHS5U
  lane: '1'
  library: L19540
  line_number: 71
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0362_BCC21AANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX_CGAACTTA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC21AANXX_1
    LB: L19540
    PL: ILLUMINA
    PU: CC21AANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CC21AANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CC21AANXX
  kit: KHS5U
  lane: '2'
  library: L19540
  line_number: 72
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0362_BCC21AANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX_CGAACTTA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC21AANXX_2
    LB: L19540
    PL: ILLUMINA
    PU: CC21AANXX_2
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CC21AANXX_2
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CC21AANXX
  kit: KHS5U
  lane: '3'
  library: L19540
  line_number: 73
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0362_BCC21AANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC21AANXX_CGAACTTA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC21AANXX_3
    LB: L19540
    PL: ILLUMINA
    PU: CC21AANXX_3
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CC21AANXX_3
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CBR5HANXX
  kit: KHS5U
  lane: '1'
  library: L19540
  line_number: 74
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0366_BCBR5HANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX_CGAACTTA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBR5HANXX_1
    LB: L19540
    PL: ILLUMINA
    PU: CBR5HANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CBR5HANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CBR5HANXX
  kit: KHS5U
  lane: '2'
  library: L19540
  line_number: 75
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0366_BCBR5HANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX_CGAACTTA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBR5HANXX_2
    LB: L19540
    PL: ILLUMINA
    PU: CBR5HANXX_2
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CBR5HANXX_2
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CBR5HANXX
  kit: KHS5U
  lane: '3'
  library: L19540
  line_number: 76
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0366_BCBR5HANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CBR5HANXX_CGAACTTA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBR5HANXX_3
    LB: L19540
    PL: ILLUMINA
    PU: CBR5HANXX_3
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CBR5HANXX_3
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Exome
  fcid: CC5H7ANXX
  kit: KHS5U
  lane: '5'
  library: L19540
  line_number: 77
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171228_7001452_0367_ACC5H7ANXX/Project_MMRF_1992_3_KHS5U/Sample_MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC5H7ANXX/MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540_CC5H7ANXX_CGAACTTA_L005_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC5H7ANXX_5
    LB: L19540
    PL: ILLUMINA
    PU: CC5H7ANXX_5
    SM: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  read_style: paired-end
  rg_id: CC5H7ANXX_5
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  type: FQ
- assay: Genome
  fcid: CC211ANXX
  kit: KHWGL
  lane: '1'
  library: L19572
  line_number: 79
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0361_ACC211ANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX_AACAACCA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC211ANXX_1
    LB: L19572
    PL: ILLUMINA
    PU: CC211ANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC211ANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC211ANXX
  kit: KHWGL
  lane: '3'
  library: L19572
  line_number: 80
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0361_ACC211ANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX_AACAACCA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC211ANXX_3
    LB: L19572
    PL: ILLUMINA
    PU: CC211ANXX_3
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC211ANXX_3
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC211ANXX
  kit: KHWGL
  lane: '4'
  library: L19572
  line_number: 81
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171205_7001452_0361_ACC211ANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC211ANXX_AACAACCA_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC211ANXX_4
    LB: L19572
    PL: ILLUMINA
    PU: CC211ANXX_4
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC211ANXX_4
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CBT0DANXX
  kit: KHWGL
  lane: '1'
  library: L19572
  line_number: 82
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0365_ACBT0DANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX_AACAACCA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBT0DANXX_1
    LB: L19572
    PL: ILLUMINA
    PU: CBT0DANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CBT0DANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CBT0DANXX
  kit: KHWGL
  lane: '2'
  library: L19572
  line_number: 83
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0365_ACBT0DANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX_AACAACCA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBT0DANXX_2
    LB: L19572
    PL: ILLUMINA
    PU: CBT0DANXX_2
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CBT0DANXX_2
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CBT0DANXX
  kit: KHWGL
  lane: '3'
  library: L19572
  line_number: 84
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0365_ACBT0DANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX_AACAACCA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBT0DANXX_3
    LB: L19572
    PL: ILLUMINA
    PU: CBT0DANXX_3
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CBT0DANXX_3
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CBT0DANXX
  kit: KHWGL
  lane: '4'
  library: L19572
  line_number: 85
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0365_ACBT0DANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBT0DANXX_AACAACCA_L004_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBT0DANXX_4
    LB: L19572
    PL: ILLUMINA
    PU: CBT0DANXX_4
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CBT0DANXX_4
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CBR5HANXX
  kit: KHWGL
  lane: '8'
  library: L19572
  line_number: 86
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171221_7001452_0366_BCBR5HANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBR5HANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CBR5HANXX_AACAACCA_L008_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CBR5HANXX_8
    LB: L19572
    PL: ILLUMINA
    PU: CBR5HANXX_8
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CBR5HANXX_8
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC5H7ANXX
  kit: KHWGL
  lane: '1'
  library: L19572
  line_number: 87
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171228_7001452_0367_ACC5H7ANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC5H7ANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC5H7ANXX_AACAACCA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC5H7ANXX_1
    LB: L19572
    PL: ILLUMINA
    PU: CC5H7ANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC5H7ANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC5H7ANXX
  kit: KHWGL
  lane: '2'
  library: L19572
  line_number: 88
  path: /scratch/tgenjetstream/chiaPipe/runFolders/171228_7001452_0367_ACC5H7ANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC5H7ANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC5H7ANXX_AACAACCA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC5H7ANXX_2
    LB: L19572
    PL: ILLUMINA
    PU: CC5H7ANXX_2
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC5H7ANXX_2
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC6RHANXX
  kit: KHWGL
  lane: '1'
  library: L19572
  line_number: 89
  path: /scratch/tgenjetstream/chiaPipe/runFolders/180105_7001452_0368_BCC6RHANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX_AACAACCA_L001_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC6RHANXX_1
    LB: L19572
    PL: ILLUMINA
    PU: CC6RHANXX_1
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC6RHANXX_1
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC6RHANXX
  kit: KHWGL
  lane: '2'
  library: L19572
  line_number: 90
  path: /scratch/tgenjetstream/chiaPipe/runFolders/180105_7001452_0368_BCC6RHANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX_AACAACCA_L002_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC6RHANXX_2
    LB: L19572
    PL: ILLUMINA
    PU: CC6RHANXX_2
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC6RHANXX_2
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
- assay: Genome
  fcid: CC6RHANXX
  kit: KHWGL
  lane: '3'
  library: L19572
  line_number: 91
  path: /scratch/tgenjetstream/chiaPipe/runFolders/180105_7001452_0368_BCC6RHANXX/Project_MMRF_1992_3_KHWGL/Sample_MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX/MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572_CC6RHANXX_AACAACCA_L003_R1_001.fastq.gz
  read_group:
    CN: TGen
    ID: CC6RHANXX_3
    LB: L19572
    PL: ILLUMINA
    PU: CC6RHANXX_3
    SM: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  read_style: paired-end
  rg_id: CC6RHANXX_3
  sample_name: MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  type: FQ
meta:
  debit: tgen-524000
  dnapair:
  - MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742,MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743
  - MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742,MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744
  - MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742,MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964
  - MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742,MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540
  email: achristofferson@tgen.org
  holdconfig: 'No'
  jirset:
  - MMRF_1992_1_PB_CD3pos_C5_KHWGL_L06742,MMRF_1992_1_BM_CD138pos_T1_KHWGL_L06743,MMRF_1992_1_PB_CD138pos_T3_KHWGL_L06744,MMRF_1992_2_BM_CD138pos_T1_KHWGL_L12964,MMRF_1992_3_BM_CD138pos_T1_KHWGL_L19572;MMRF_1992_Genome_JIRSET
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272,MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273,MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928,MMRF_1992_3_BM_CD138pos_T1_KHS5U_L19540;MMRF_1992_Exome_JIRSET
  pipeline: Medusa
  project: MMRF_1992
  recipe: tgen05
  results: /MMRF/commpass/results/
  saverecipe: mmrf01
  triplet4allelecount:
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_1_BM_CD138pos_T1_KBS5U_L07272,MMRF_1992_1_BM_CD138pos_T2_TSMRU_L06632
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_1_PB_CD138pos_T3_KBS5U_L07273,MMRF_1992_1_PB_CD138pos_T4_TSMRU_L06659
  - MMRF_1992_1_PB_CD3pos_C5_KBS5U_L07274,MMRF_1992_2_BM_CD138pos_T1_KHS5U_L12928,MMRF_1992_2_BM_CD138pos_T2_TSMRU_L12684

