- name: do_something
  cmd: |
    echo {{ project.name  }} is starting in $(pwd)

{% for subproject in subprojects %}

- name: start_{{ subproject.name }}
  cmd: 
    jetstream init "{{ subproject.path }}"
    jetstream pipelines bar --project "{{ subproject.path }}"

{% endfor %}
