
- name: sys_info
  stdout: sys.log
  cmd: uname -v

- name: env_info
  stdout: env.log
  after: sys_info
  cmd: env

- name: null_command
  after: env_info
  cmd: null

{% for i in range(5) %}
- name: test_range_{{ loop.index }}
  after: null_command
  cmd: echo {{ loop.index }}
{% endfor %}

- name: say_hello
  help: >
   This block will be replaced with other tasks if a child template
   is rendered. Otherwise, this task will remain.
  cmd: say Hello, world. This is the main jetstream instance ${JETSTREAM_RUN_ID}


{% with after = "test_range_.*" %}
{% include "show_env.jst" %}
{% endwith %}

- name: test_nested_workflows
  after: say_hello
  cmd: >
    jetstream --log-debug run <(echo '- cmd: say i am a nested call
    to jetstream, the id of this run is ${JETSTREAM_RUN_ID}')

- name: test_log_capture
  cmd: |
    #!/bin/bash

    for i in $(seq 10); do
      cat /dev/urandom | head | base64
    done

- name: test_failures
  after: test_log_capture
  cmd: |
    #!/bin/bash
    echo "This task should fail"
    exit 1

- name: test_dependency_failures
  cmd: echo This command should fail due to dependency
  after: test_failures
